@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}
.brownBtn{
  border: none;
  background-color: #A44730;
  color: white;
}
.brownBtn:hover{
  border: 1px solid #A44730;
  background-color: transparent;
  color: black;
}
.banner-contents{
  .txt {
    h3 {
      font-weight: 600;
      padding: 120px 0 0 120px;
    }
  }
}
.ft-link{
  color: black;
}
.ft-link:hover{
  color: #3A65F2;
}

/* media query */
@media (max-width: 915px) {
  .banner-contents{
  .txt {
    h3 {
      padding: 80px 0 0 80px;
    }
  }
}
}
@media (max-width: 545px) {
  .banner-contents{
  .txt {
    h3 {
      padding: 20px 0 0 20px;
    }
  }
}
}